body {
    text-align: center;
    background-color: black;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
.content h1 {
    font-weight: 300;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: aquamarine;
    font-size: 16px;
} 
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}
h3 {
    text-align: right;
    color: grey;
}
img[src*="phone"] {
    margin-top: 30px;
}